.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
    color: white;
    background-color: black;
}


.sec1 , .sec2 , .sec3 , .sec4 {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.sec2 {
    cursor: pointer;
    transition: color 0.5s;
}

.sec2 p:hover {
    color: rgb(20, 127, 226);
}
